body {
    display: flex;
    flex-flow: column;
    margin: 0px;
}

.header {
    display: flex;
    background-color: #1F2937;
    height: 72px;
    padding: 8px 144px;
    box-sizing: border-box;
    gap: 20px;
}

.header a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.header a:hover {
    color: red;
    text-decoration: none;
}

#toleft {
    margin-left: auto;
}

.header img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.main {
    display: flex;
    background-color: #1F2937;
    padding: 0px 144px;
    justify-content: space-between;
    align-items: center;
    height: 400px;
}

.left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.main img {
    width: 400px;
    height: auto;
    border: 10px solid red;
}

.left p {
    font-size: 18px;
    color: #E5E7EB;
}

.left button {
    background-color: #3882f6;
    border-radius: 5px;
    font-size: 18px;
    border-color: #3882f6;
    color: white;
}

.inside {
    padding: 0px 144px;
    height: 400px;
}

.inside h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.photos {
    display: flex;
    flex: initial;
    justify-content: center;
    gap: 50px;
    padding: 0px 144px;
}

.photos div {
    flex: initial;
    max-width: 200px;
}

.photos div img {
    width: 200px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 5px;
}

.photos div p {
    text-align: justify;
}

.quote {
    background-color: #E5E7EB;
    padding: 0px 288px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 400px;
}

#quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
    margin-bottom: 0px;
    overflow: hidden;
}

#author {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}

.signup {
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
}

#text h3 {
    font-size: 36px;
    font-weight: bold;
    margin: 0%;
}

#text p {
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
    margin: 0%;
}

.bluebox {
    display: flex;
    background-color: #3882f6;
    height: 200px;
    width: 1200px;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    color: #E5E7EB;
}

.bluebox button {
    background-color: #3882f6;
    border-color: white;
    border-radius: 10px;
    font-size: 24px;
    color: white;
    font-weight: bold;
    padding: 8px 24px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    height: 72px;
    align-items: center;
    color: white;
}